<div class="row">
  <div class="col-lg-4" *ngFor="let partner of partners | filter:search">
    <div class="card mb-4 shadow " style="border-radius: 10px;">
      <div class="card-body text-center">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
          alt="avatar"
          class="rounded-circle img-fluid shadow"
          style="width: 150px"
        />
        <p class="my-3 fs-5">{{ partner.name }}</p>
        <p class="text-muted mb-1">{{ partner.skill }}</p>

        <p class="mb-4 text-success">
          <i class="bi bi-telephone-fill"></i> {{ partner.phone | phonepipe}}
        </p>
        <p class="text-muted mb-4">{{ partner.notes }}</p>
        <div class="d-flex justify-content-center mb-2">
          <button type="button" class="btn btn-primary" routerLink="/partner/{{partner.id}}">View Details</button>
          <button type="button" class="btn btn-outline-primary ms-1" (click)="openDialog(partner.id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
